/* style.css */
.container {
    max-width: 1650px;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 0 15px; /* Opcional: añade padding para evitar que el contenido toque los bordes */
    width: 100%;
  }
  